body:not(.minimal-unstyled-tags),
.theme-dark body:not(.minimal-unstyled-tags) {
  --tag-background: hsla(var(--accent-h), var(--accent-s), var(--accent-l), 0.1) !important;
  --tag-background-hover: hsla(var(--accent-h), var(--accent-s), var(--accent-l), 0.2) !important;
  --tag-color: var(--interactive-accent) !important;
  --tag-color-hover: var(--interactive-accent) !important;
}

.tag:not(.token) {
  background-color: var(--tag-background) !important;
  color: var(--tag-color) !important;
}

.tag:not(.token):hover {
  background-color: var(--tag-background-hover) !important;
  color: var(--tag-color-hover) !important;
}

.markdown-source-view.mod-cm6 .cm-hashtag {
  color: var(--tag-color) !important;
  background-color: var(--tag-background) !important;
}